<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <nav>
            <a href="../../index.html">logo</a> 
            <a href="../../services/index.html">services</a> 
            <a href="../../review/index.html">review</a>
            <a href="../../aboutus/index.html">aboutus</a>  
            <a href="../../contact/index.html">contact</a>
          </nav>
    </section>
</body>
</html>