$color-theme-1: #6EB5C0;
$color-theme-2: #F4D19A;
$color-theme-3: #4A4E69;

$max-width: 1280px;

$footer-font-weight: 400;
$footer-font-size: 16px;
$footer-line-height: 1.2;
$footer-font-weight-mobile: 400;
$footer-font-size-mobile: 16px;
$footer-line-height-mobile: 1.2;