$color-theme-1: #6EB5C0;
$color-theme-2: #F4D19A;
$color-theme-3: #4A4E69;
$color-theme-4: #5A0066;

$max-width: 1280px;

$footer-font-weight: 400;
$footer-font-size: 16px;
$footer-line-height: 1.2;
$footer-font-weight-mobile: 400;
$footer-font-size-mobile: 16px;
$footer-line-height-mobile: 1.2;

$half-section-max-width-character: 75ch;
$half-section-max-width: 600px;
$section-max-width: 1280px;
$distance-image-to-title: 16px;
$distance-title-to-title: 16px;
$distance-title-to-text: 16px;
$distance-text-to-text: 16px;
$distance-text-to-button: 32px;
$distance-section-star: 60px;
$distance-section-end: 60px;
$distance-section-star-and-section-end: 16px;
$full-distance-section-star-and-section-end: 32px;

$h1-margin: 20px;
$h2-margin: 20px;
$h3-margin: 20px;
$text-margin: 20px;
$image-margin: 20px;
$section-margin: 20px;
$h1-padding: 20px;
$h2-padding: 20px;
$h3-padding: 20px;
$text-padding: 20px;
$image-padding: 20px;
$section-padding: 20px;

$h1-letter-spacing: 0px;
$h1-line-height: 1.2;
$h1-word-spacing: 0px;
$h1-font-size: 40px;
$h1-font-weight: 700;

$h2-letter-spacing: 0px;
$h2-line-height: 1.2;
$h2-word-spacing: 0px;
$h2-font-size: 30px;
$h2-font-weight: 600;

$h3-letter-spacing: 0px;
$h3-line-height: 1.2;
$h3-word-spacing: 0px;
$h3-font-size: 25px;
$h3-font-weight: 500;

$text-letter-spacing: 0px;
$text-line-height: 1.4;
$text-word-spacing: 0px;
$text-font-size: 20px;
$text-font-weight: 400;

$full-image-section-height: 60vh;

$hero-section-height: 50vh;
$hero-section-body-margin: 20px;
$hero-section-body-position-x: center;
$hero-section-body-position-y: center;
$hero-section-body-content-position-x: flex-start;
$hero-section-body-content-position-y: center;