.contact{
    .active-contact{
        a {
            text-decoration: none;
            color: $color-theme-4;
            font-weight: 600;
        }
    }
   
    .sectionherowithtext {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image-top'
        'body-section'
        ;
        color: white;  
        
        .image-top {
            grid-area: image-top;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                justify-self: center;
                align-content: start;
                grid-column: 1;
                grid-row: 1;
                z-index: 1;
                position:static;
                object-fit: cover;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-position: center;
                height: $hero-section-height;
            }
        }
    }

    .contakt-section{
        max-width: $section-max-width;
        display: grid;
        justify-self: center;
        margin-left: 15px;
        margin-right: 15px;
        h1 {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        form {
            width: 100%;
            input {
                width: 100%;
            }
            margin-bottom: 32px;
        }
    }
   
    @include desktop {  
      
    }
}