
.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'logo'
        'socialicon'
        'line'
        'address'
        'links' 
        'contact'
        'cookisettings'
        'cookiepolicy'
        'copyright'
    ;
    background-color: $color-theme-1;
    color: black;
    text-align: center;
    clear: both;
    padding: 25px;
    position: relative;
    overflow: hidden;
    z-index: 50;
    font-weight: $footer-font-weight-mobile;
    font-size: $footer-font-size-mobile;
    line-height: $footer-line-height-mobile;
    
    h5 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: $footer-font-size-mobile;
        line-height: $footer-line-height-mobile;
    }
    
    .line {
        grid-area: line;
    }

    .logo {
        grid-area: logo;
        margin-bottom: 5px;
        text-align: center;
        max-height: 100px;

        img{
            object-fit: contain;
        }
    }

    .socialicon {
        grid-area: socialicon;
        color: black;
        margin-top: 15px;
        margin-bottom: 8px;
        margin: 8px;
        text-align: center;

        svg {
            margin: 10px;
        }
        
        svg:hover {
            text-decoration: none;
            color: $color-theme-3;
        }
    }

    .address {
        grid-area: address;
        text-align: center;
    }
    
    .links {
        grid-area: links;
        text-align: center;
        margin-top: 40px;

        a:link, a:visited{
            color: black;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
            color: $color-theme-3;
        }
    }
    
    .contact {
        grid-area: contact;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;

        a:link, a:visited{
            color: black;
            text-decoration: none;
        } 

        a:hover {
            text-decoration: none;
            color: $color-theme-3;
        }
    }

    .cookisettings {
        grid-area: cookisettings;
        text-align: center;

        button {
            border: none;
            background: inherit;
            color: black;
            text-decoration: none;
            font-family: "Roboto", "Poppins", sans-serif;
            font-weight: $footer-font-weight-mobile;
            font-size: $footer-font-size-mobile;
            line-height: $footer-line-height-mobile;
        }

        button:hover {
            border: none;
            background: inherit;
            color: $color-theme-3;
            color: #ffffff;
            text-decoration: none;
            font-family: "Roboto", "Poppins", sans-serif;
            font-size: $footer-font-size-mobile;
            color: $color-theme-3;
        }
    }
    
    .cookiepolicy {
        grid-area: cookiepolicy;
        text-align: center;

        a:link, a:visited{
            color: black;
            text-decoration: none;
        } 

        a:hover {
            text-decoration: none;
            color: $color-theme-3;
        }
    }
    
    .copyright {
        grid-area: copyright;
        text-align: center;

        a:link, a:visited{
            color: black;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
            color: $color-theme-3;
        }
    }

    @include desktop {  
        background-color: $color-theme-1;
        color: black;
        clear: both;
        padding: 25px;
        position: relative;
        overflow: hidden;
        z-index: 50;
        font-weight: $footer-font-weight;
        font-size: $footer-font-size;
        line-height: $footer-line-height;
        
        h5 {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: $footer-font-size;
            line-height: $footer-line-height;
        }

        .container {
            max-width: $max-width;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-columns: 200px auto 200px 270px;
            grid-template-rows: 30px 10px 250px auto;
            grid-template-areas: 
                'logo logo logo socialicon'
                'line line line line'
                'address address links contact'
                'cookisettings cookiepolicy cookiepolicy copyright'
            ;
            margin: auto;
        }

        .logo {
            grid-area: logo;
            margin-bottom: 5px;
            margin-left: 12.5px;
            text-align: left;
            max-height: 50px;
            img{
                object-fit: contain;
            }
            
        }

        .socialicon {
            grid-area: socialicon;
            color: black;
            margin: 8px;
            margin-right: 15px;
            text-align: end;
            svg {
                margin-left: 10px;
            }
            svg:hover {
                text-decoration: none;
                color: $color-theme-3;
            } 
        }

        .line {
            grid-area: line;
            margin-top: 10px;
        }

        .address {
            grid-area: address;
            text-align: left;
            margin-left: 25px;
            margin-top: 39px;
            width: 250px;
        }

        .links {
            grid-area: links;
            text-align: left;
            width: 200px;
            
            a:link, a:visited{
                color: black;
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                color: $color-theme-3;
            } 
        }

        .contact {
            grid-area: contact;
            text-align: left;
            width: 200px;
            margin-left: 95px;

            a:link, a:visited{
                color: black;
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                color: $color-theme-3;
            } 
        }

        .cookisettings {
            grid-area: cookisettings;
            margin-left: 19px;
            text-align: left;

            button {
                border: none;
                background: inherit;
                color: black;
                text-decoration: none;
                font-family: "Roboto", "Poppins", sans-serif;
                font-weight: $footer-font-weight;
                font-size: $footer-font-size;
                line-height: $footer-line-height;
            }

            button:hover {
                border: none;
                background: inherit;
                color: #ffffff;
                text-decoration: none;
                font-family: "Roboto", "Poppins", sans-serif;
                font-size: $footer-font-size;
                color: $color-theme-3;
            }
        }

        .cookiepolicy {
            grid-area: cookiepolicy;
            margin-left: 0px;
            text-align: left;
            align-self: center;

            a:link, a:visited{
                color: black;
            }

            a:hover {
                text-decoration: none;
                color: $color-theme-3;
            }  
        }

        .copyright {
            grid-area: copyright;
            margin-right: 25px;
            text-align: right;
            align-self: center;

            a:link, a:visited{
                color: black;
                text-decoration: none;
            }
            
            a:hover {
                text-decoration: none;
                color: $color-theme-3;
            } 
        }
    }
}
