header {
    background-color: $color-theme-2;
    display: grid;
    align-items: center;
    padding-top: 20px;
    a {
        color: black;
        @include desktop {  
            color: $color-theme-3;
        }
    }
    a:hover {
        text-decoration: none;
        color: $color-theme-1;
      }
      
    button {
        display: grid;
        justify-content: end;
    }

    .contact-icon {
        visibility: hidden;
     
    }
    

    .contact-us {
        visibility: hidden;
    }
    .navbar-custom {
        background-color: $color-theme-2;
        a {
            color: black;
            @include desktop {  
                color: $color-theme-3;
            }
        }
        a:hover {
            text-decoration: none;
            color: $color-theme-1;
            @include desktop {  
                color: $color-theme-1;
            }
          }
    }

    .navbar-nav {
        background-color: $color-theme-2;
        a {
            color: black;
        }
        a:hover {
            text-decoration: none;
            color: $color-theme-1;
        }
        @include desktop {  
            background-color: $color-theme-2;
            a {
                color: black;
            }
            a:hover {
                text-decoration: none;
                color: $color-theme-1;
            }
        }
    }
    ul {
        background-color: $color-theme-1;
    }

    .navbar {
        @include desktop {  
            background-color: $color-theme-2;
            height: 100px;
            
        }
    }
    .contact-us{
        @include desktop {  
            background-color: $color-theme-2;
        }
    }
    @include desktop {  
        background-color: $color-theme-2;
        height: 120px;
        padding-top: 0px;

        a {
            color: black;
        }
        a:hover {
            text-decoration: none;
            color: $color-theme-1;
        }
   
        .brand-name {
            visibility:hidden;
            width: 100px;
        }

        .contact-icon {
            visibility:visible;
            display: grid;
            justify-content: end;
            width: 100px;
        }

        
    }
}