.services {
    .active-services{
        a {
            text-decoration: none;
            color: $color-theme-4;
            font-weight: 600;
        }
    }

    .product-list {
        display: grid;
        justify-self: center;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 15px;
        margin-right: 15px;

        button {
            width: 100px;
            border-radius: 45px;
            background-color: $color-theme-1;
        }

        .webb {
            margin-bottom: 48px;
        }

        .it {
            margin-bottom: 48px;
        }

        .app {
            margin-bottom: 48px;
        }
    
        @include desktop {  
            max-width: $half-section-max-width;

            button:hover {
                width: 100px;
                border-radius: 45px;
                background-color: $color-theme-2;
            }
        }
    }
}