@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,500&display=swap");
html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
}

header a {
  color: white;
}
header .navbar-custom {
  background-color: #6EB5C0;
}
header .navbar-nav {
  background-color: #6EB5C0;
}
header ul {
  background-color: #6EB5C0;
}

.home {
  font-size: 16px;
}