<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recensioner</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo-white.png">
    <link rel="stylesheet" href="/src/App.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script>
        fetch('/components/sections/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('imported-section-header').innerHTML = data;
            })
            .catch(error => console.error('Error loading section:', error));
            
        fetch('/components/sections/footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('imported-section-footer').innerHTML = data;
            })
            .catch(error => console.error('Error loading section:', error));
    </script>
</head>
<body>
    <div class="review">
        <header id="imported-section-header"></header>
        <div class="client-reviews">
            <div class="ClientReview_Card">
                <div class="ClientReview_Top">
                    <div class="ClientReview_Pfp">
                        <img src="https://pbs.twimg.com/profile_images/1535420431766671360/Pwq-1eJc_400x400.jpg"/>
                    </div>
                    <div class="ClientReview_Stars">
                        ★★★★★
                    </div>
                </div>
                <div class="ClientReview_Body">
                    Konsulterna hjälpte oss att snabbt att implementera rätt tekniska lösningar för vårt företag!
                </div>
                <div class="ClientReview_Name">
                    — Tim Cook
                </div>
            </div>
            <div class="ClientReview_Card">
                <div class="ClientReview_Top">
                    <div class="ClientReview_Pfp">
                        <img src="https://pbs.twimg.com/profile_images/1535420431766671360/Pwq-1eJc_400x400.jpg"/>
                    </div>
                    <div class="ClientReview_Stars">
                        ★★★★★
                    </div>
                </div>
                <div class="ClientReview_Body">
                    Dem är best!
                </div>
                <div class="ClientReview_Name">
                    — Tim Cook
                </div>
            </div>
            <div class="ClientReview_Card">
                <div class="ClientReview_Top">
                    <div class="ClientReview_Pfp">
                        <img src="https://pbs.twimg.com/profile_images/1535420431766671360/Pwq-1eJc_400x400.jpg"/>
                    </div>
                    <div class="ClientReview_Stars">
                        ★★★★★
                    </div>
                </div>
                <div class="ClientReview_Body">
                    Ska köpaupp dem!
                </div>
                <div class="ClientReview_Name">
                    — Tim Cook
                </div>
            </div>
        </div>
        <footer id="imported-section-footer"></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>